@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #4d5d61;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-content: center;
}

.result-table {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    width:80%;
    background: #fff;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, .5);
}

.result-table > tbody {
    background: #2d3436;
}

.list-item {
    color: #dfe6e9;
    transition: .25s;
}

.list-item:hover {
    cursor: crosshair;
    background: #585e5f;
    transition: .25s;
}

.highlighted {
    color: #0984e3;
}

.defeated {
    color: #f1c40f;
}

.upper-left-image {
    position: absolute;
    width: 10%;
    left: 0;
    top: 1rem;
    -webkit-filter: drop-shadow(15px 10px 10px rgba(0,0,0,0.5));
    transition: .6;
}

.upper-right-image {
    position: absolute;
    width: 10%;
    right: 0;
    top: 1rem;
    -webkit-filter: drop-shadow(15px 10px 10px rgba(0,0,0,0.5));
    transition: .6;
}

.reload-button {
    text-align:center; 
    text-decoration: none;
    margin-top: 10px;
    color:#dfe6e9;
    border-radius: 5px;
    border: 1px solid #2c3e50;
    background:#636e72;
    padding: 5px 5px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, .5);
    transition: .25s;
}

.reload-button:hover {
    text-decoration: none;
    color: red;
    transition: .25s;
    background: #7e9fac;
}